.hero{
    background-color: #1f2937;
}

.hero-w-heading{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}



.hero-w-img{
    display: flex;
    height: 400px;
}

.hero-w-img img{
    height: 300px;
    width: 300px;
    margin-right: 100px;
    padding-top: 50px;
}

body button{
    text-align: center;
}


.infodiv{
    display: flex;
    justify-content: space-between;   
}

.infoBox{
    border: 5px solid blue;
    height: 300px;
    width: 300px;
    border-radius: 20px;
}